# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc

# ======================
# Node
# ======================
node_modules/
dist/

# ======================
# Environment files
# ======================
.env

# ======================
# Data & Models (IMPORTANT)
# ======================
backend/data/
backend/app/ml/models/
*.pth

# ======================
# Images (optional, keep repo light)
# ======================
*.jpg
*.jpeg
*.png

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db